/********** Template CSS **********/
:root {
  --primary: #24d4fd;
  --light: #f1f8ff;
  --dark: #0f172b;
}
#logo {
  filter: drop-shadow(1px 1px 100px #24d4fd);
}

.fw-medium {
  font-weight: 800 !important;
}
.text-yellow {
  color: yellow;
}

.fw-semi-bold {
  font-weight: 600 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  margin-right: 30px;
  /* padding: 25px 0; */
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}
.nav-item:after {
  content: "";
  /* position: absolute; */
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #24d4fd;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.nav-item:hover:after {
  width: 100%;
  left: 0;
  background: #24d4fd;
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(15, 23, 43, 0.7);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

.booking {
  position: relative;
  margin-top: -100px !important;
  z-index: 1;
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

/*** Service ***/
.service-item {
  height: 320px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  margin: 0 auto 30px auto;
  width: 65px;
  height: 65px;
  transition: 0.5s;
}

.service-item i,
.service-item h5,
.service-item p {
  transition: 0.5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
  color: #ffffff !important;
}

/*** Youtube Video ***/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url(../img/devshelter.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  transition: all 200ms;
}

.video .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal {
  z-index: 99999;
}

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

#videoModal .modal-body {
  position: relative;
  padding: 0px;
}

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}
/* timeline */
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}
.timeline-centered.timeline-sm .timeline-entry {
  margin-bottom: 20px !important;
}
.timeline-centered.timeline-sm
  .timeline-entry
  .timeline-entry-inner
  .timeline-label {
  padding: 1em;
}
.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}
.timeline-centered:after {
  clear: both;
}
.timeline-centered:before {
  content: "";
  position: absolute;
  display: block;
  width: 7px;
  background: var(--dark);
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}
.timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 70px;
  clear: both;
}
.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry:after {
  clear: both;
}
.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
  float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -28px;
}
.timeline-centered
  .timeline-entry.left-aligned
  .timeline-entry-inner
  .timeline-time {
  left: auto;
  right: -115px;
  text-align: left;
}
.timeline-centered
  .timeline-entry.left-aligned
  .timeline-entry-inner
  .timeline-icon {
  float: right;
}
.timeline-centered
  .timeline-entry.left-aligned
  .timeline-entry-inner
  .timeline-label {
  margin-left: 0;
  margin-right: 85px;
}
.timeline-centered
  .timeline-entry.left-aligned
  .timeline-entry-inner
  .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -31px;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -115px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-time
  > span:first-child {
  font-size: 18px;
  font-weight: bold;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-time
  > span:last-child {
  font-size: 12px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #999999;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 50%;
  text-align: center;
  border: 7px solid #ffffff;
  line-height: 45px;
  font-size: 15px;
  float: left;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-primary {
  background-color: #dc6767;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-success {
  background-color: #5cb85c;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-info {
  background-color: #5bc0de;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-warning {
  background-color: #f0ad4e;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-danger {
  background-color: #d9534f;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-red {
  background-color: #bf4346;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-green {
  background-color: #488c6c;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-blue {
  background-color: #0a819c;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-yellow {
  background-color: #f2994b;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-orange {
  background-color: #e9662c;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-pink {
  background-color: #bf3773;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-violet {
  background-color: #9351ad;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-grey {
  background-color: #ffffff;
  color: #fff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.bg-dark {
  background-color: #594857;
  color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #ffffff;
  padding: 1.7em;
  margin-left: 85px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-red {
  background: #bf4346;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-red:after {
  border-color: transparent #bf4346 transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-red
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-red
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-green {
  background: #488c6c;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-green:after {
  border-color: transparent #488c6c transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-green
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-green
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-orange {
  background: #e9662c;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-orange:after {
  border-color: transparent #e9662c transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-orange
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-orange
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-yellow {
  background: #f2994b;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-yellow:after {
  border-color: transparent #f2994b transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-yellow
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-yellow
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-blue {
  background: #0a819c;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-blue:after {
  border-color: transparent #0a819c transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-blue
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-blue
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-pink {
  background: #bf3773;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-pink:after {
  border-color: transparent #bf3773 transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-pink
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-pink
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-violet {
  background: #9351ad;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-violet:after {
  border-color: transparent #9351ad transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-violet
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-violet
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-grey {
  background: #4b5d67;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-grey:after {
  border-color: transparent #4b5d67 transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-grey
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-grey
  p {
  color: #ffffff;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-dark {
  background: #594857;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-dark:after {
  border-color: transparent #594857 transparent transparent;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-dark
  .timeline-title,
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label.bg-dark
  p {
  color: #ffffff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #ffffff transparent transparent;
  left: 0;
  top: 20px;
  margin-left: -9px;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label
  .timeline-title,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #999999;
  margin: 0;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label
  .timeline-title {
  margin-bottom: 10px;
  font-family: "Oswald";
  font-weight: bold;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label
  .timeline-title
  span {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label
  p
  .timeline-img {
  margin: 5px 10px 0 0;
}
.timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-label
  p
  .timeline-img.pull-right {
  margin: 5px 0 0 10px;
}
.timeline-main {
  display: flex;
  justify-content: center;
}
@media (max-width: 770px) {
  .timeline-main {
    margin: 50 0;
    display: block;
  }
}
/* contact form */
.toggle-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}

.form-floating {
  margin-bottom: 15px;
}

.form-floating label {
  padding: 10px;
}

.form-floating textarea {
  resize: none;
}

/*** Testimonial ***/
.testimonial {
  background: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.7)),
    url(../img/carousel-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-carousel {
  padding-left: 65px;
  padding-right: 65px;
}

.testimonial-carousel .testimonial-item {
  padding: 30px;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 40px;
  top: calc(50% - 20px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 2px;
  font-size: 18px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: var(--primary);
  background: #ffffff;
}

/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
  transition: 0.5s;
}

.team-item:hover {
  border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
  background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
  color: var(--secondary) !important;
}

/*** Footer ***/
.newsletter {
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

::-webkit-scrollbar {
  background-color: #0f172b;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f8ff;
}

.drp-items {
  padding: 10px 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* offer */

:root {
  --marquee-padding: 0px;
  --marquee-padding-negative: calc(var(--marquee-padding) * -1);
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #fea116;
  align-items: center;
  text-align: center;
}

.marquee .marquee_text {
  display: inline-block;
  /* padding-left: 100%; */
  animation: marquee 30s linear infinite;
  /* animation: marquee_flip 26s linear infinite;  For left to right */
  margin-top: 1%;
}

.marquee .marquee_text ul {
  display: inline-flex;
  font-size: 20px;
  text-transform: uppercase;
  list-style-position: inside;
}

.marquee .marquee_text ul.marquee-content-primary {
  padding-left: 0px;
}

.marquee .marquee_text ul > li {
  padding-inline: 7px;
}

.marquee-content-secondary {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: var(--marquee-padding);
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(var(--marquee-padding-negative), 0, 0);
    transform: translate3d(var(--marquee-padding-negative), 0, 0);
  }
}

.dropright {
  position: relative;
  left: 100%;
  top: 0%;
}

.submenu {
  display: none !important;
}

.menu:hover .submenu {
  display: block !important;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 4 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(100%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%) !important;
  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
    transform: translateX(0) !important;
  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%) !important;
  }
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.btn-about:hover {
  border: 2px solid var(--primary);
  background: white;
  color: var(--primary);
}

@media screen and (max-width: 900px) {
  .dropdown-menu .dropdown-submenu {
    width: 100%;
  }
  .dropdown-menu:hover .dropdown-submenu {
    left: 30%;
  }
  .dropdown-menu:hover .dropdown-sub-submenu {
    left: 50%;
  }
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.maincontainer {
  position: relative;
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.object-fit {
  background: transparent !important;
  object-fit: contain;
  aspect-ratio: 16/9;
}

.parent {
  position: relative;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.image-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  animation: rotate linear 15s infinite forwards;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.image-holder:hover {
  animation-play-state: paused;
}

.image-holder i.icons {
  animation: rotate linear 15s infinite forwards;
  background: teal;
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.image-holder:hover i.icons {
  animation-play-state: paused;
}

.image-holder i:nth-child(1) {
  top: 35px;
  left: 35px;
}

.image-holder i:nth-child(3) {
  top: 35px;
  right: 20px;
}

.image-holder i:nth-child(5) {
  bottom: 35px;
  right: 10px;
}

.image-holder i:nth-child(7) {
  bottom: 35px;
  left: 35px;
}

.image-holder i:nth-child(2) {
  top: -30px;
  left: 52.5%;
  transform: translateX(-50%);
}

.image-holder i:nth-child(4) {
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
}

.image-holder i:nth-child(6) {
  bottom: -30px;
  left: 52.5%;
  transform: translateX(-50%);
}

.image-holder i:nth-child(8) {
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-justify {
  text-align: justify;
}

.card {
  overflow: visible;
  position: relative;
  width: 280px;
  height: 354px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.details {
  position: absolute;
  left: 20px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;

  transition: 0.5s;
  z-index: 1;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Text*/
.title {
  font-weight: 800;
  font-size: 33px;
  color: #ffffff;
  text-align: center;
  padding-top:6% ;
}

.caption {
  width: 50%;
  background: cyan;
  padding: 2%;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  display: block;
  margin-top: 5px;
  margin-left: 20%;
  border-radius: 4px;
}
.caption:hover{
  background: white;
  border: 2px solid cyan;
  cursor: pointer;
}

/*Hover*/
.card:hover .imgbox {
  bottom: 80px;
}

.card:hover:before {
  transform: rotate(20deg);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.cards-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: auto;
}

.cards-2 .red {
  background-color: rgba(255, 255, 255, 0.3);
}

.cards-2 .blue {
  background-color: rgba(255, 255, 255, 0.3);
}

.cards-2 .green {
  background-color: rgba(255, 255, 255, 0.3);
}

.cards-2 .card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  padding: 2%;
  color: var(--dark);
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards-2 .card-2 p.tip {
  color: var(--primary);
  font-size: 1em;
  font-weight: 700;
}

.cards-2 .card-2 p.second-text {
  font-size: 0.7em;
}

.cards-2 .card-2:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}

.cards-2:hover > .card-2:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.amenities {
  display: flex;
  align-items: center;
}
.amenities .icon {
  margin: 0 10px;
  padding: 10px;
}
.amenities .Details {
  /* background: rgb(216, 216, 216); */
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.carousel2 {
  overflow: hidden;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.carousel-track {
  display: flex;
  width: 100%;
  animation: scroll 10s linear infinite;
}
.carousel-track-2 {
  display: flex;
  width: 100%;
  animation: scrolls 10s linear infinite;
}
.carousel-item2 {
  min-width: 1%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.carousel-item2 img {
  max-width: 100%;
  max-height: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolls {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.carousel-track::after {
  content: "";
  display: block;
  flex: 0 0 20%;
}
<<<<<<< HEAD
.btn-2{
  border: 2px solid rgb(0, 0, 255);
  background: white !important;
  color: rgb(0, 38, 255);
}
=======
.f-20{
  font-size: 30px;
}

.form-control2{
  background: none;
  outline: none;
  border: 1px solid var(--dark);
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 5px;
}


 
>>>>>>> 0dc57e87b756264a0a122a69d69c2ecc98e133ec
